---
import './hero.css';
import Boton from '../atoms/Boton.astro';

---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Chao Alarc칩n Chen</h1>
			<p class="hero__text">
				Una descripci칩n breve y llamativa sobre el tema principal del sitio
			</p>
			<Boton href="#" texto="Quiero saber m치s"/>
		</div>
    <img
		class="hero__img"
		src="/img/Foto.png"
		alt="Chao An Alarc칩n Chen"
		width="384"
    	height="384"
	/>
	</div>
</section>
